{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <span class="col-5 hero-text"><h2>Want to learn something new?</h2>
            <p>Find the perfect electronic piano or keyboard right now!</p>
            <a href="{% url 'products' %}" class="shop-btn btn btn-black btn-lg rounded-0 text-uppercase py-2">Shop Now!</a></span>
            <span class="col-7 hero-image"></span>
        </div>
        <div class="row">
            <div class="col-12 px-1 py-5">
                <h3 class="landing-headings">Start Learning Today</h3>
                <p class="landing-text">We have everything that you needed to teach yourself 
                    piano from piano books for beginners and electronic keyboards that come 
                    with self taught material and lessons to advanced books for those 
                    returning after taking a break.</p>
                <h3 class="landing-headings">Electronic Pianos and Keyboards from the Best Brands!</h3>
                <p class="landing-text">We carry the best brands for both pianos and piano 
                    song books along with the most common sizes from 61-88 keys. Our 
                    storefront gives customers access to thomann dp 95s, bastien piano 
                    basics and wurlitzer electric pianos. We always make sure to give 
                    customers the best access to piano materials possible.</p>
                <h3 class="landing-headings">Music Books for all levels</h3>
                <p class="landing-text">Music books are available for beginners-seasoned pianists!</p>
            </div>
        </div>
    </div>
{% endblock %}

