body {
    background-color: #85C7DE;
}

.hero-image {
    margin-top: 12%;
    background: url("/media/images/pianos-r-us-hero-image.jpg") no-repeat center center;
    background-size: cover;
    width: 70vw;
    height: 80vh;
}

.hero-text {
    margin-top: 30%;
    font-size: 20px;
}

/* Navbar */

header, li {
    text-decoration: none;
    color: black;
    background-color: white;
}

.icon {
    align-items: center;
}

.icons:hover {
    color: #85C7DE;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-black:hover {
    background-color: white;
    color: black;    
}

.text-black {
    text-decoration: none;
    color: black;
}

.nav-spacing {
    margin-top: 15%;
}

/* Landing page */

.shop-btn {
    margin-left: 15%;
    background: black;
    color: white;
    min-width: 230px;
}

.landing-headings {
    text-align: center;
}

.landing-text {
    text-align: center;
}

/* Products page */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}