body {
    background-color: #85C7DE;
}

.hero-text {
    margin-top: 30%;
    font-size: 20px;
}

/* Navbar */

header, li {
    text-decoration: none;
    color: black;
    background-color: white;
}

.icon {
    align-items: center;
}

.btn-black {
    background-color: white;
    color: black;
}

.btn-black:hover {
    background-color: black;
    color: white;    
}