body {
    background-color: #85C7DE;
}

.hero-image {
    margin-top: 12%;
    background: url("/media/p-r-u-hero-image2.jpg") no-repeat center center;
    background-size: cover;
    width: 70vw;
    height: 80vh;
}

.hero-text {
    margin-top: 30%;
    font-size: 20px;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* Navbar */

header, li {
    text-decoration: none;
    color: black;
    background-color: white;
}

.icons {
    align-items: center;
    color:black;
}

.icons:hover {
    color: #85C7DE;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-black:hover {
    background-color: white;
    color: black;    
}

.text-black {
    text-decoration: none;
    color: black;
}

.nav-spacing {
    margin-top: 13%;
}

/* Landing page */

.shop-btn {
    margin-left: 15%;
    background: black;
    color: white;
    min-width: 230px;
}

.landing-headings {
    text-align: center;
}

.landing-text {
    text-align: center;
}

/* Products page */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.product_image {
    width:25vw;
    height:40vh;
}

/* Product_view Page*/

.quantity-btn {
    border-radius: 50%;
}

/* Allauth form formatting */

.allauth-spacing {
    margin-top: 27%;
}

.password-spacing {
    margin-top: 10%;
}

.password-hoizontal-spacing {
    margin-left: 5%;
}

/* Mailchimp */
#mc_embed_signup{
    background:#fff; clear:left; font:14px;
    padding: 0%;
}


/* Media Queries */

@media screen and (max-width: 768px) {
    .product_image {
        width:30vw;
        height:30vh;
    }
    
}

@media screen and (max-width: 576px) {
    .product_image {
        width:40vw;
        height:40vh;
    }
    
    .shop-btn {
        margin-left: 6%;
        min-width: 160px;
    }
}