<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav w-auto mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link text-black" href="#" role="button" 
        data-toggle="dropdown" aria-expanded="false"><h6>All Products</h6></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">By Price</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">By Best Rated</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">By Latest</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">All Products</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link nav-border" href="#" role="button" 
        data-toggle="dropdown" aria-expanded="false"><h6>Pianos/Keyboards</h6></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">By Best Rated</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Only Pianos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Only Keyboards</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">All Pianos/Keyboards</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" 
        data-toggle="dropdown" aria-expanded="false"><h6>Piano Stools</h6></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">By Best Rated</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">By Latest</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">All Piano Stools</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" role="button" 
        data-toggle="dropdown" aria-expanded="false"><h6>All Music Books</h6></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">By Beginner</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">By Intermediate</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">By Advanced</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">All Music Books</a>
        </div>
      </li>
    </ul>
