{% load static %}

<!doctype html>
<html lang="en">
  <head>

    <title>Pianos-R-Us {% block extra_title %}{% endblock %}</title>

    <!-- Required meta tags -->
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="a B2C commerce application that aims to sell 
        pianos/keyboards and a music books to music lovers and learners alike.">
        <meta name="keywords" content="piano store, piano shop, electronic piano,
        thomann dp 95, electronic keyboards, 61 key electronic keyboard, 
        wurlitzer electric piano, best electronic keyboard for beginners, 
        bastien piano basics, piano songbook, piano book, piano classics, 
        teach yourself piano, piano books for beginners, piano stool, piano benches">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Bootstrap CSS -->
    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

    {% block extra_css %}
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
    </style>
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block corejs %}
        <!-- jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://kit.fontawesome.com/e509a947a4.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

  </head>
  <body>
    <header class="container-fluid fixed-top">
      <nav class="navbar navbar-nav mr-auto navbar-expand-lg navbar-light">
        <a class="navbar-brand nav-link icons" href="{% url 'home' %}">Pianos-R-Us
          <span><i class="fas fa-music icons"></i></span>
        </a>
          <form method="GET" action="{% url 'products' %}" class="form-inline my-2 py-lg-0 icons-placement d-none d-md-block d-lg-block d-xl-block">
            <div class="input-group w-80">
              <input class="form-control mr-sm-2 border border-black rounded-0" type="text" name="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="form-control btn btn-black border border-black rounded-0 mr-sm-2" type="submit">
                  <span class="icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
          <div class="my-auto py-1 py-lg-0 d-none d-md-block d-lg-block d-xl-block">
            <ul class="list-inline text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link icons" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                          {% if request.user.is_authenticated %}
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">My Account</p>
                            {% else %}
                            <div><i class="far fa-user fa-lg logged-out-icon"></i></div>
                            <p class="my-0">My Account</p>
                            {% endif %}
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'account' %}" class="dropdown-item">My Account</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="{% if total %}text-info{% else %}text-black{% endif %} nav-link" href="{% url 'cart_view' %}">
                        <div class="text-center icons">
                            <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                            <p class="my-0">
                                {% if order_total_cost %}
                                    €{{ order_total_cost|floatformat:2 }}
                                {% else %}
                                    €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% include 'includes/mobile-nav.html' %}
        {% include 'includes/main-nav.html' %}
      </nav>
    </div>
    </header>

   {% if messages %}
   <div class="message-container"></div>
   {% endif %}

   {% block page_header%}
   {% endblock %}

   {% block content %}
   {% endblock %}

   {% block postloadjs %}
   {% endblock %}

    <!-- Boilerplate text -->
    <!-- Footer -->
    <footer class="container-wrapper">
      <div class="container quotes-container content-container">
        <section class="footer">
          <div class="row">
            <div class="col-12 page-header mb-4">
              <h2 class="text-uppercase">Stay in touch:</h2>
              <hr class="block-divider block-divider--short">
            </div>
         </div>
         <div class="row">
           <div class="col-12 col-md-6">
             <h3>Social</h3>
             <p>Keep up to date with all our latest offers</p>
             <a href="#" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
           </div>
            <!-- Begin Mailchimp Signup Form -->
          <div class="col-12 col-md-6">
            <div id="mc_embed_signup">
                <form action="https://herokuapp.us10.list-manage.com/subscribe/post?u=e71ec5a927b25abaf777e5726&amp;id=e034c2569e&amp;f_id=00a831e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <h2>Subscribe</h2>
                    <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
              <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
            </div>
              <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e71ec5a927b25abaf777e5726_e034c2569e" tabindex="-1" value=""></div>
                    <div class="optionalParent">
                        <div class="clear foot">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            <p class="brandingLogo"><a href="http://eepurl.com/h8-TBz" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->         
          </div>
          <p>*This site is meant for educational purposes only!*</p>
         </div>
       </section>
     </div>
   </footer>
  <!-- /.footer -->
  <!-- End of Boilerplate text -->
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  </body>
</html>